.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

input {
  border-radius: 8px;
  padding: 6px 16px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.input-area {
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.input-area {
  display: flex;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.todo-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-item:last-child {
  border-bottom: none;
}

.task-actions button {
  margin-left: 5px;
}

.task-counter {
  margin-top: 20px;
  font-weight: bold;
}

.todo-list {
  margin-top: 20px;
}

.todo-item input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}
